<h1>Welcome to palindrome checker</h1>
<form action="/palindrome_results">
  <div class="form-group">
     <label for="word">Would you like to see if your word, phrase or sentence is a palindrome?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
