<h1>Welcome to Scrabble Score</h1>
<form action="/scrabblescore">
  <div class="form-group">
     <label for="word">What would you like to see your word score in Scrabble?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
